body{
    background-image: url(img/1668870672_25-pibig-info-p-katava-sedze-pinterest-39.png);
    background-position: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center
}

.card{
    background-color:rgba(182, 163, 139, 0.493);
    max-width: 850px;
    max-height: 650px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px;
}

.card__s-1{
    display: inline-block;
    padding: 20px;
}

.card__s-2{
    display: inline-block;
    padding: 20px;
}

img{
    animation: img 0.75s linear infinite alternate;
}

@keyframes img {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

button{
    max-width: 200px;
    max-height: 30px;
    background-color:bisque;
    border-color:darksalmon;
    border-radius: 50px;
    border-style: wave;
}
/* ____________________________________________________________________________ */
.button-box{
    background-color: bisque;
    color: black;
    padding: 20px 35px;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
    text-align: center;
    max-width: 50px;
}
.button-box:hover{
    background-color:darksalmon;
}
.input-box[type="checkbox"]:checked ~ .label-box .button-box{
    background-color: black;
    color: white;
    transform: scaleY(0.9);
}
.input-box{
    display: none;
}
.div-box{
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.blok{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(182, 163, 139, 0.493);
    top: 0;
    left: 0;
    transition: 1.6s;
    transform: translateY(-1200px);
    z-index: -1;
}
.input-box[type="checkbox"]:checked ~ .blok{
    transform: translateX(0);
}
.input-box[type="checkbox"]:checked ~ .label-box .button-box .lock-open {
    display: inline;
}
.input-box[type="checkbox"]:checked ~ .label-box .button-box .lock {
    display: none;
}
.lock-open {
    display: none;
}
.lock {
    display: inline;
}